html{
  cursor:url(images/tinkerbell.png), auto;
}
.navbar-inverse .navbar-brand{
  font-family: 'Lobster Two', cursive;
  font-size: 36px;
  color:#FFE50C;
  text-shadow: 3px 3px 3px #CCCCCC;
}
.navbar{
  margin-bottom: 0px;
}
.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    margin: 0;
}

.carousel-inner >.item >img {
    width: 20%;
    height: 20%;
    margin: 0 auto;
}
.backbook {
  min-width: 100%;
  max-height: 100%;
  margin: 0 ;
  padding: 0;
  z-index: -999;
}
.photos{
  margin-left: 56%;
  margin-top: -95%;
  width: 20%;
  transform: rotate(350deg);
  z-index: 1;
}
.cooking {
  margin-left: 27%;
  margin-top: -52%;
  transform: rotate(350deg);
  z-index: 1;
}
