html { 
  margin: 0;
  padding: 0;
  background: url(images/turkkahve.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wel{
  color:#fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  text-align: center;
}
.wel > span {
  font-family: 'Lobster Two', cursive;
  font-size: 76px;
  color:#79ABFF;
  text-shadow: 4px 4px 4px #F8ED7C;
  
}
h2{
  text-align: center;
  color: #fff;
  font-size: 28px;

}
h2 >a{
  color: #fff;
}
h2> a:hover{
  color:#79ABFF;
  cursor: pointer;
}