<h1>All Recipes</h1>
  <table border="1">
  <tr>
  <td width="80%"><p align="center"><i><b>Recipe</b></i></td> 
   <td width="20%"><p align="center"><i><b>Date</b></i></td>
  </tr>
   
  <% @recipes.each do |recipe| %>
  <tr>
  <td><%= link_to recipe.title, :action => "show", :id => recipe.id %></td>
  <td><%= link_to recipe.category.name, :action => "show", :id => category.id %></td>
  <td><%= recipe.updated_at %></td>
  </tr>
  <% end %> 
  </table>