<header>
  <div class="carouselcontainer">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/assets/dunya_turkiye.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/turkiye.jpg" alt="">
      </div>


      <div class="item">
        <img src="/assets/sofra1.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra2.jpg" alt="">
      </div>
    
      <div class="item">
        <img src="/assets/sofra3.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra4.jpg" alt="">
      </div>
  
      <div class="item">
        <img src="/assets/sofra5.jpg" alt="" >
      </div>

      <div class="item">
        <img src="/assets/sofra6.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra7.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra8.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra9.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/sofra10.jpg" alt="">
      </div>

      <div class="item">
        <img src="/assets/Turkkahvesi.jpg" alt="" >
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</header>
      
    <div id="middle">
      <h1>About Turkey</h1>
      <p><b>Turkey</b> the cradle of cultures and civilizations connecting Europe and Asia and capital of civilizations that have reined the lands of Anatolia for centuries</p><img id="aboutimg"src="/assets/kule.png">
      <p>Since the beginning of history, Anatolia, well known as one the earliest settlements, has continued to flourish with the migration of various tribes, and accumulated a large cultural heritage through a line of succeeding empires and civilizations. Many empires ranging from the Sumerians to the Hittites, the Lydians to the Byzantines and the Seljuks to the Ottomans have once thrived and expired within the borders of Turkey.</p>
      <p>Ankara is the capital of Turkey, which established a democratic regime with the foundation of the Turkish Republic in 1923. The Bosporus and the Dardanelles, connecting the seas of this magnificent landscape surrounded by the Black Sea, the Mediterranean, Aegean and Marmara seas, function as bridges connecting the lands of the region almost like silk threads.</p>
      <p>Greece and Bulgaria to the west, Georgia, Armenia and Azerbaijan to the east and Iran, Iraq, and Syria to the south are the border neighbors of Turkey. The member of various international organizations such as the United Nations, the Council of Europe, the North Atlantic Treaty Organization, the Black Sea Economic Cooperation Organization and the Organization of the Islamic Conference our country continuous to evolve and grow at rapid speed.</p>  
    </div>

    <div id="right">
      <h2>Culture&Arts</h2>
      <h3>Customs and Traditions</h3>
      <p><img class="nbox" src="/assets/custo.jpg"/>From rituals on special days to family relations, Turkish society still largely adheres to native customs and traditions in many areas of social life.</p>
      <hr>    
      <h3>Folk Dances</h3>
      <p><img class="nbox" src="/assets/folk.png"/>Music as a way of creative expression of societies has a very important place in the Anatolian culture as well. Traditional folkloric dances are colorful visual performances and are highly enjoyable.Zeybek performed in the Aegean region and particularly...</p>
      <hr>
      <h3>Fine Arts</h3>
      <p><img class="nbox" src="/assets/fine.png"/>Fine arts which have been produced since mankind's earliest days are an integral part of Turkish culture too.Traditional fine arts and handicrafts such as ebru (marbling), hat (calligraphy), cini (chini) and ceramics in addition to photography constitute an...</p>
    </div>

    <hr>
    <div id="social">
      <a href="https://www.facebook.com" target="_blank">
      <img class="media"src="/assets/faceb.png"></a>
      <a href="https://twitter.com" target="_blank">
      <img class="media"src="/assets/twit2.png"></a>
      <a href="https://www.google.com/maps" target="_blank">
          <img class="media"src="/assets/Googlemapslogo.png"></a> 
      </div>
        <div id="clear"></div>  
      <hr>
    
    <footer>
      <p>Created by Sabiha Ozturk @Copyright 2015</p> 
    </footer>