<br>
<div class= "row">
  <span class="col-md-4"></span>
  <span class="col-md-4 text-center" >
<img class="me"src="/assets/sabiha.jpeg"></span>
  <span class="col-md-4 text-center"></span>
</div>
<div class= "row">
  <br>
  <br>
  <span class="col-md-12 text-center">
    <h1> Hello Everybody !!!... ;)</h1></span>
    <span class="col-md-3 text-center"></span>
    <span class="col-md-6 text-center">
    <h4>My name is Sabiha. I came U.S. from Turkey 2 years ago. So, when I started this course I was like in a China and I had to learn to French.</h4> <h4>Actually this project like a proof "how much I learned?". </h4>
    <h4> I apologize from my instructor "Jeremy Raines" if I give to hard time for this 3 months. Also thank you for your patience. </h4>
    <h4> I want to say "Thank You" somebody too. Pranesha, Katie, Vinson thank you for your frienship and helped me. </h4>
    <h4>Also, I want to let you know I will learn Japaneese too <strong> (I mean Javascript)</strong> after this project.</h4>
    <h4>I think enough for meet. Now... Let's Click <a href="/">Magic Hands</a><h4></span>
    <span class="col-md-3 text-center"></span>
  
</div>