<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

  <h1 class="wel">Welcome to <span>Magic Hands</span></h1>
  <h2>I hope you enjoy it. Let's open the <%= link_to 'Book', recipes_path %></h2>
