// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contacts-container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
}


 textarea#contact_message{
  width: 500px;
   height: 200px;
   padding: 10px;
 }
input#contact_name{
  width: 200px;
  margin-bottom: 3%;
}
input#contact_email{
  width: 200px;
}
