// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-page { 
  margin: 0;
  padding: 0;
  /*cursor:url(tinkerbell.png), auto;*/
  background: url(turkkahve.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1200px;
}

.welcome-button{
  margin-top: 5%;
  margin-left: 50%;
}

.wel{
  margin: auto;
  z-index: 1;
  color:#fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.wel > span {
  font-family: 'Lobster Two', cursive;
  font-size: 76px;
  color:#FFE50C;
  text-shadow: 4px 4px 4px #CCCCCC;
  
}
.wel2 {
  color: #fff;
  font-size: 36px;
  margin-left: 10%;
  margin-top: 10%;
  /*text-align: center;*/
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    margin: 0;
}

.carousel-inner >.item >img {
    width: 35%;
    margin: 0 auto;
}
.nbox{
  width: 50%;
  padding: 8px;
  float: left;
}
#middle{
  width: 70%;
  margin-left: 7%;
  /*margin: auto;*/
  padding: 5px;
  font-size: 20px;
  text-align: justify;
  float: left;
}
#aboutimg{
  width: 100%;
}
#clear{
  clear: both;
}

#right{
  width: 20%;
  margin: 2% 1%;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #434343;
  float: right;
}
#social {
  position: relative;
  top: 10px;
  right: -5px;
  text-align: center;
}
#social> a {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}
#social> a:hover {
  opacity: 0.4;
}
.media {
  width: 100%;
}

.me {
  border-radius: 50%;
  width: 100%;
}

#bio{
  width: 80%;
  margin: auto;
}

.bios{
  padding: 15px;
  display: inline-block;
  float: left;
  margin-top: 10%;
  margin-left: 10%; 
}

