<br>
<br>
<div class="row">
  <span class="col-md-12 text-center title-head">
    <h1>Add a Category</h1>
  </span>
</div>
<br>
<div class="row">
  <span class="col-md-12 text-center title-head">
    <%= render "form" %>
  </span>
</div>

<div class="row">
  <span class="col-md-12 text-center title-head">
  <%= link_to 'Category List', categories_path, :class => "btn btn-success btn-md" %>
  <%= link_to 'Add a Recipe', new_recipe_path(@recipe), :class => "btn btn-primary btn-md" %>
  </span>
</div>